html, body{
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(226, 226, 236);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-box{
  background-color: white;
  border-radius: 5px;
  margin: 0cm;
  padding-top: 0.4cm;
  padding-left: 0.7cm;
  padding-right: 0.7cm;
  padding-bottom: 0.7cm;
  margin-top: 2cm;
  width: 10cm;
  text-align: center;
}

#header{
  margin:0cm;
  margin-bottom: 0.3cm;
  font-size: 25px;
}

.search-container{
  display: flex;
  justify-content: center;
}

#item-input{
  margin-top: 0cm;
  height: 0.7cm;
  padding: 0.2cm;
  padding-left: 0.3cm;
  padding-right: 0.2cm;
  width: 6.5cm;
  border-style: none;
  border-bottom-color: rgb(129, 129, 129);
  border-bottom-style: solid;
  transition: 0.3s;
}

#item-input:focus{
  outline: none !important;
  background-color: transparent;
}

#item-input:focus::-webkit-input-placeholder{
  color: transparent;
}

#item-input:focus::-moz-placeholder{
  color: transparent;
}

#item-input:focus::-ms-placeholder{
  color:transparent;
}

#item-input:hover{
  outline: none !important;
  box-shadow: 0 0 10px #dadee2;
}

#enter-button{
  margin-top: 0cm;
  margin-left: 6px;
  height: 1.1cm;
  width: 2.5cm;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  background-color: rgb(137, 198, 255);
  transition: 0.3s;
}

#enter-button:hover{
  background-color: rgb(181, 218, 253);
}

.message-container{
  padding-left: 0.1cm;
  margin-bottom: 0.2cm;
  margin-top: 0cm;
  height: 0.5cm;
}

#error-message{
  height: 0cm;
  font-size: 11px;
  color: rgb(73, 73, 94);
  background-color: rgb(255, 181, 181);
  border-radius: 5px;
  padding-left: 1cm;
  padding-right: 1cm;
  padding-top: 0.2cm;
  padding-bottom: 0.2cm;
}

#success-message{
  height: 0cm;
  font-size: 11px;
  color: rgb(73, 73, 94);
  background-color: rgb(204, 253, 203);
  border-radius: 5px;
  padding-left: 1cm;
  padding-right: 1cm;
  padding-top: 0.2cm;
  padding-bottom: 0.2cm;
}

